.mains {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectionColumn {
    flex-direction: column;
    display: flex;
    float:left;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;
}


.parameterComponents {
    font-size: 30px;
    width: 500px;
}

.individualSelections{
    text-align: center;
}
