<mat-accordion>
    <app-resultdisplay *ngFor="let data of resultData" [question] = "data.question" [answer] = "data.answer" [category] = "data.category_id" [triviaValue] = "data.value" [date] = "data.airdate"></app-resultdisplay>
</mat-accordion>