/* You can add global styles to this file, and also import other style files */
body { 
    margin:0; 
    height: 100vh;
    background-color: rgb(161, 123, 250);
    background-image: linear-gradient(to bottom, rgba(61, 55, 141, 0.6), transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
